/* font  */
.merriweather-font {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
}

/* header styles  */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../resources/Banner\ Image.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #000000;
    width: 1320px;
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;


}

.newyeartitle {
    color: #ffffff;
    font-size: 32px;


}

.description {
    text-align: center;
}

.newyearsubtitle,
.newyeardescription {
    color: #ffffff;
    font-size: 72px;
}


/* MAIN DESIGN  */
.card1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 259px 120px 259px;
}

.card1 .discount {
    color: #FF0000;
    font-size: 88px;


}

.discountdescription {
    color: #FF0000;
    font-size: 24px;
}

.categories {
    color: #070211;
    font-size: 48px;
}

.card1>img {
    width: 802px;
    height: 500px;

}

.card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../resources/Vectorrr.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #000000;
    width: 1320px;
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.c2details {
    padding-left: 124px;
    padding-right: 95px;


}

.c2heading {
    color: #ffffff;
    font-size: 64px;


}

.c2desc {
    color: #ffffff;
    font-size: 18px;
}

.joinnow {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    border: none;
    padding-top: 48px;
}

.card2>img {
    padding-right: 150px;

}